$titleFont: 'Amatic SC', cursive;
$deepDark: #111;
$darkMain: #222;
$lightMain: #f4f1d0;
$blueLight:#536482;
$blueDark: #34495e;
$greenLight: #2ecc71;
$greenDark: #27ae60;
$purpleLight: #9b59b6;
$purpleDark: #8e44ad;
$orangeLight: #e67e22;
$orangeDark: #d35400;
//$boxShadowMain: x
//$boxShadowHover: x

@keyframes lavaColors {
  0% { color: #ff2500 }
  25% { color: #ff6600 }
  50% { color: #f2f217 }
  75% { color: #ea5c0f }
  100% { color: #e56520 }
}

@keyframes lightColors {
  0% { color: #bef1f9 }
  25% { color: #ffffff }
  50% { color: #d8d4e5 }
  75% { color: #f0d4b1 }
  100% { color: #cbecda }
}

@keyframes igColors {
  0% { color: #f2aeff }
  25% { color: #f2aecf }
  50% { color: #f2ae3f }
  75% { color: #f2ae6f }
  100% { color: #f2ae9f }
}

@keyframes lightBlueColors {
  0% { color: #44eebb }
  25% { color: #44eedd }
  50% { color: #44bbff }
  75% { color: #44ddff }
  100% { color: #44eeff }
}

@keyframes moveWave {
  0% {
    transform: translateX(0)  scaleY(1.05)
  }
  25% {
    transform: translateX(-25%)  scaleY(1)
  }
  50% {
    transform: translateX(-50%)  scaleY(1.05)
  }
  75% {
    transform: translateX(-25%) scaleY(1)
  }
  100% {
    transform: translateX(0) scaleY(1.05)
  }
}

* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $darkMain;
  font-family: 'Nanum Gothic', sans-serif;
}

ul, a,
ul:active, a:active {
  list-style-type: none;
  text-decoration: none;
}

/*-----------------------------------*/
/* HEADER */
/*-----------------------------------*/

.headers-1,
.headers-2 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.headers-1 {
  background-image: linear-gradient(to top, #d35400 10%, $darkMain 90%);
  opacity: 1;
}

.headers-2 {
  background-image: linear-gradient(to top, #34495e 10%, $darkMain 90%);
  opacity: 0;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: center;
}

// - - -  waves  - - - //

.wave-animation {
  position: absolute;
  width: 100%;
  height: 150px;
  overflow: hidden;
  bottom: -1px;
}

.wave {
  position: fixed;
  width: 200%;
  height: 100%;
  background-size: 100% 150px;
  background-position: 0 bottom;
  bottom: -1px;
  background-repeat: repeat no-repeat;
}

.bg-top {
  z-index: 15;
  opacity: 0.4;
}

.bg-middle {
  z-index: 10;
  opacity: 0.65;
}

.bg-bottom {
  z-index: 5;
  opacity: 0.8;
}

//.wave-top {
//  background-size: 100% 200px;
//}
//
//.wave-animation .wave-top {
//  animation: moveWave 10s;
//}
//
//.wave-middle {
//  background-size: 100% 250px;
//}
//
//.wave-animation .wave-middle {
//  animation: moveWave 17s ease-in-out infinite;
//  animation-delay: 2s;
//}
//
//.wave-bottom {
//  background-size: 100% 200px;
//}
//
//.wave-animation .wave-bottom {
//  animation: moveWave 23s ease-in-out infinite;
//}

// - - -  header content - - - //

.header-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  color: $lightMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 5px solid #ffffff;
}

.header-content-1 {
  width: 400px;
}

.header-content-2 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

.chrisPicMain {
  height: 130px;
  width: 130px;
  background-image: url("../../img/chrisPicMainCropped.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%;
  transform: scale(0.9);
}

.header-content-1 h1,
.header-content-1 h3,
.header-content-2 h1 {
  font-family: $titleFont;
}

.header-content-1 h1 {
  letter-spacing: 0.6rem;
  font-weight: bold;
  transform: translateX(30.3px);
}

.title-about-me {
  letter-spacing: 0.6rem;
  font-weight: bold;
}

.header-content-2 p {
  font-size: 1.1rem;
}

#about-me-text {
  width: 500px;
}

.social-icons {
  width: 200px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-icons ion-icon,
.header-down-arrow ion-icon {
  font-size: 35px;
  color: $lightMain;
}

.github-ion:hover {
  animation: lavaColors 3s linear infinite;
}

.codepen-ion:hover {
  animation: lightColors 3s linear infinite;
}

.ig-ion:hover {
  animation: igColors 3s linear infinite;
}

.linkedin-ion:hover {
  animation: lightBlueColors 3s linear infinite;
}

.get-in-touch-btn {
  display: block;
  margin-top: .7rem;
}

.get-in-touch-btn button {
  color: $lightMain;
  background-color: transparent;
  border: 1px solid $lightMain;
  padding: 8px 15px;
  border-radius: 0;
  transition: box-shadow 0.6s;
}

.get-in-touch-btn button:hover {
  background-color: transparent;
  cursor: pointer;
  border-color: $lightMain;
  color: $lightMain;
  box-shadow: inset 0 0 0 2px $lightMain;
  transition: box-shadow 0.6s;
}

.header-down-arrow svg {
  transform: scale(1);
  transition: transform 0.6s;
}

.header-down-arrow svg:hover {
  transform: scale(1.2);
  transition: transform 0.6s;
}

/*-----------------------------------*/
/* PROJECTS */
/*-----------------------------------*/

.projects-section {
  height: 3000px;
}