@media only screen and (max-width: 600px) {
  .header-content-1 {
    width: 400px; }
  .form-inputs,
  .message-inputs {
    width: 90%; } }

@media only screen and (max-width: 400px) {
  .header-content-1,
  .header-content-2 {
    width: 90%; }
  .wave-top,
  .wave-bottom {
    background-size: 100% 100px; }
  .wave-middle {
    background-size: 100% 130px; }
  #about-me-text {
    width: 100%; }
  .skills-container {
    height: 750px; }
  .skills-buttons button {
    margin-top: 5px; }
  .spider-graph-container {
    width: 100%; }
  .canvas-skill {
    height: 350px;
    width: 100%;
    left: 50%;
    transform: translate(-50%); }
  .contact-container h2 {
    font-size: 1.5rem; }
  .contact-container p {
    font-size: 1rem; } }
