* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #222;
  font-family: 'Nanum Gothic', sans-serif; }

/*-----------------------------------*/
/* HEADER */
/*-----------------------------------*/
.header-container {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to top, #d35400 10%, #222 90%); }

.header-content {
  text-align: center;
  color: #f4f1d0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-content-1 {
  width: 400px; }

.header-content-1 h1,
.header-content-1 h3 {
  font-family: "Amatic SC", cursive; }

.header-content-1 h1 {
  letter-spacing: 0.6rem;
  font-weight: bold; }
