@keyframes lightColors {
  0% {
    color: #bef1f9; }
  25% {
    color: #ffffff; }
  50% {
    color: #d8d4e5; }
  75% {
    color: #f0d4b1; }
  100% {
    color: #cbecda; } }

@keyframes moveWave {
  0% {
    transform: translateX(0) scaleY(1.05); }
  25% {
    transform: translateX(-25%) scaleY(1); }
  50% {
    transform: translateX(-50%) scaleY(1.05); }
  75% {
    transform: translateX(-25%) scaleY(1); }
  100% {
    transform: translateX(0) scaleY(1.05); } }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #222;
  font-family: "Nanum Gothic", sans-serif; }

ul, a, li,
ul:active, a:active, li:active {
  list-style-type: none;
  text-decoration: none; }

::-webkit-scrollbar {
  width: 0; }

#progressBar1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  border-radius: 10px;
  background: linear-gradient(to top, #f4f1d0, transparent);
  z-index: 30; }

#menu {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #000;
  clip-path: polygon(0 0, 100% -100%, 100% 100%);
  color: #eee;
  text-align: right;
  overflow: hidden;
  transition: color 0.3s;
  font-family: brandon-grotesque, sans-serif; }

.open-menu-div {
  position: fixed;
  top: 0;
  right: 0;
  display: block; }

#menu p:hover {
  cursor: pointer;
  color: #e67e22;
  transition: color 0.3s; }

#menu p {
  transform: rotate(-315deg);
  font-size: 0.8rem;
  margin-left: 15px;
  margin-top: 12px; }

#menu ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: right;
  margin: 25% 10px auto 0;
  font-family: brandon-grotesque, sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  opacity: 0; }

#menu ul a {
  transition: border 0.6s;
  padding: 8px 15px;
  border: 1px solid transparent;
  text-decoration: none;
  color: #eee; }

#menu ul a:hover {
  border: 1px solid #eee;
  transition: border 0.6s;
  cursor: pointer; }

#close-menu ion-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-top: 10px;
  transition: transform 0.6s;
  color: #eee;
  visibility: hidden; }

#close-menu ion-icon:hover {
  transform: rotate(360deg);
  transition: transform 0.6s;
  cursor: pointer; }

/*-----------------------------------*/
/* HEADER */
/*-----------------------------------*/
.headers-1,
.headers-2 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.headers-1 {
  opacity: 1;
  background-color: #3b495f; }

.headers-2 {
  opacity: 0;
  background-color: #2b3546; }

.wave-animation {
  position: absolute;
  width: 100%;
  height: 150px;
  overflow: hidden; }

.wave {
  position: fixed;
  width: 200%;
  height: 100%;
  background-size: 100% 150px;
  background-position: 0 bottom;
  bottom: -1px;
  background-repeat: repeat no-repeat;
  opacity: 1; }

.bg-top {
  z-index: 15;
  opacity: 0.4; }

.bg-middle {
  z-index: 10;
  opacity: 0.65; }

.bg-bottom {
  z-index: 5;
  opacity: 1; }

.header-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  color: #f4f1d0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.header-content-1 {
  width: 600px; }

.header-content-2 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s; }

.chrisPicMain {
  height: 130px;
  width: 130px;
  background-image: url("../../img/chrisPicMainCropped.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%;
  transform: scale(0.9); }

.header-content-1 h1,
.header-content-1 h3,
.header-content-2 h1 {
  font-family: brandon-grotesque, sans-serif; }

.header-content-1 h1,
.title-about-me {
  letter-spacing: 0.6rem;
  font-weight: bolder; }

.header-content-2 p {
  font-size: 1.1rem; }

#about-me-text {
  width: 500px; }

.social-icons {
  width: 200px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.social-icons ion-icon,
.header-down-arrow ion-icon {
  font-size: 35px;
  color: #f4f1d0; }

.social-icons a {
  transition: 0.6s ease-out; }

.social-icons a:hover {
  transform: rotateZ(360deg); }

.github-ion:hover,
.codepen-ion:hover,
.ig-ion:hover,
.linkedin-ion:hover {
  animation: lightColors 3s linear infinite; }

.main-btn {
  display: block;
  margin-top: .7rem; }

.main-btn button,
.poster-projects-btn button {
  color: #f4f1d0;
  background-color: transparent;
  border: 1px solid #f4f1d0;
  padding: 8px 15px;
  border-radius: 0;
  transition: box-shadow 0.6s; }

.main-btn button:hover,
.poster-projects-btn button:hover {
  background-color: transparent;
  cursor: pointer;
  border-color: #f4f1d0;
  color: #f4f1d0;
  box-shadow: inset 0 0 0 2px #f4f1d0;
  transition: box-shadow 0.6s; }

.header-down-arrow {
  margin-top: 0.7rem; }

.header-down-arrow svg {
  transform: scale(1);
  transition: transform 0.6s; }

.header-down-arrow svg:hover {
  transform: scale(1.2);
  transition: transform 0.6s; }

/*-----------------------------------*/
/* SKILLS */
/*-----------------------------------*/
.skills-to-header-break {
  height: 1px;
  width: 100%;
  margin-top: 1500px; }

.skills-container {
  color: #222;
  text-align: center;
  margin-top: 149px;
  background-color: #fff;
  width: 100%;
  height: 650px; }

.skills-box {
  opacity: 0;
  transition: opacity 1s; }

.skills-box h1 {
  font-family: brandon-grotesque, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem; }

#skills-container-h1 {
  padding: 100px 0 0 0; }

.skills-buttons {
  margin: 80px 0 0 0; }

#radar-chart-overview {
  margin: 50px 0 0 0; }

.skills-buttons button {
  color: #222;
  background-color: transparent;
  border: 1px solid #222;
  padding: 8px 15px;
  border-radius: 0;
  transition: box-shadow 0.6s; }

.skills-buttons button:hover {
  background-color: transparent;
  cursor: pointer;
  border-color: #222;
  color: #222;
  box-shadow: inset 0 0 0 2px #222;
  transition: box-shadow 0.6s; }

.skills-buttons button:focus,
.skills-buttons button:active {
  outline: none;
  box-shadow: none;
  background-color: #222;
  color: #fff; }

.spider-graph-container {
  height: 400px;
  width: 500px;
  margin: 20px auto; }

.overview-box {
  visibility: visible;
  opacity: 1; }

.js-box,
.php-box,
.css-box,
.tools-box,
.attributes-box {
  visibility: hidden;
  opacity: 0; }

.canvas-skill {
  position: absolute;
  height: 400px;
  width: 800px;
  left: 50%;
  transform: translate(-50%); }

.dark-div {
  background-color: #222;
  width: 100%;
  height: 20px;
  margin: 0 0; }

.dark-div-top {
  margin-top: 60px;
  opacity: 0.4; }

.dark-div-mid {
  opacity: 0.65; }

.dark-div-bottom {
  opacity: 0.95; }

/*-----------------------------------*/
/* PROJECTS */
/*-----------------------------------*/
.projects-section {
  margin-top: 40px;
  height: auto;
  width: 100%; }

.title-projects {
  text-align: center; }

.title-projects h1 {
  font-family: brandon-grotesque, sans-serif;
  color: #f4f1d0;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 2rem; }

.poster {
  color: #f4f1d0;
  display: flex;
  align-items: center;
  margin: 20px 0 100px 0; }

.poster-body {
  box-shadow: 0 20px 12px -12px #000;
  padding: 0;
  transition: transform 0.4s; }

.poster-body:hover {
  transform: scale(1.03);
  transition: transform 0.4s; }

.poster-body-header {
  background-color: #f4f1d0;
  color: #222;
  height: 100px;
  display: flex;
  align-items: flex-end; }

.poster-body-header h2 {
  margin-left: 0.5rem;
  font-size: 1.8rem; }

.poster-body-image-container {
  height: 280px;
  width: 100%;
  background-color: #2b3546;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.poster-detail-count {
  margin: 0.5rem 0;
  color: #111;
  font-size: 4rem; }

.line {
  width: 33%;
  border-bottom: 1px solid #f4f1d0;
  margin-bottom: 1rem; }

.poster-detail-description {
  margin-bottom: 1.5rem; }

.poster-projects-btn {
  margin-right: 10px; }

.poster-projects-btn button:focus,
.poster-projects-btn button:active {
  outline: none;
  box-shadow: none;
  border: 0;
  color: #fff;
  background-color: #111;
  transition: border 1s, background-color 1s; }

.r-reverse {
  display: flex;
  flex-direction: row-reverse; }

.deepDark-div {
  background-color: #111;
  width: 100%;
  height: 20px;
  margin: 0 0; }

.deepDark-div-top {
  margin-top: 60px;
  opacity: 0.3; }

.deepDark-div-mid {
  opacity: 0.55; }

.deepDark-div-bottom {
  opacity: 0.85; }

/*-----------------------------------*/
/* CONTACT */
/*-----------------------------------*/
.contact-section {
  height: auto;
  background-color: #111; }

.contact-container {
  color: #eee;
  text-align: center; }

.contact-container h2 {
  letter-spacing: .6rem;
  white-space: nowrap;
  padding: 2rem 0 .5rem 0;
  display: block; }

.contact-container span {
  color: #e67e22; }

.contact-container p {
  font-size: 1.4rem;
  margin-bottom: 0;
  letter-spacing: .3rem;
  font-family: brandon-grotesque, sans-serif; }

#back-to-top {
  margin: 30px 0;
  color: #eee;
  background-color: transparent;
  border: 1px solid #eee;
  padding: 8px 15px;
  border-radius: 0;
  transition: box-shadow 0.6s; }

#back-to-top:hover {
  cursor: pointer;
  border-color: #e67e22;
  color: #eee;
  box-shadow: inset 0 0 0 2px #e67e22;
  transition: box-shadow 0.6s; }

footer {
  height: auto;
  width: 100%;
  color: #eee;
  background-color: #111;
  text-align: center; }

footer p {
  margin-bottom: 0;
  padding-bottom: 10px; }

.copyright-box {
  font-size: 0.8rem; }
