@media only screen and (max-width: 600px) {

  .header-content-1 {
    width: 400px;
  }

  #about-me-text {
    width: 400px;
  }

  .form-inputs,
  .message-inputs {
    width: 90%;
  }

  #menu ul {
    font-size: 2.5rem;
  }

  .browserCatchBox {
    margin-left: 10px;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 510px) {

  #menu ul {
    font-size: 1.8rem;
  }

  #menu ul a {
    padding: 3px 8px;
  }

  .header-content-1,
  .header-content-2 {
    width: 90%;
  }

  .wave-top,
  .wave-bottom {
    background-size: 100% 100px;
  }

  .wave-middle {
    background-size: 100% 130px;
  }

  #about-me-text {
    width: 100%;
  }

  .skills-container {
    height: 575px;
  }

  .skills-buttons button {
    margin-top: 5px;
  }

  .spider-graph-container {
    width: 100%;
  }

  .canvas-skill {
    height: 350px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  .dark-div-top {
    margin-top: 100px;
  }

  .contact-container h2 {
    font-size: 1.5rem;
  }

  .contact-container p {
    font-size: 1rem;
  }

}